### Q.1)

In [1]:
s='Rabindra'
l=[1,2,3,True,'Hello']
f=2.678
t=(734974,4,'fhihgier')

### Q.2)

In [2]:
var1=''
var2='[DS,ML,PYTHON]'
var3=['DS','ML','Python']
var4=1
print(type(var1),type(var2),type(var3),type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'int'>

### Q.3)

In [3]:
a,b=7,11
print(a/b)
print(a%b)
print(a//b)
print(a**b)

0.6363636363636364
7
0
1977326743

### Q.4)

In [4]:
l=[1,2,3,4,5.5857,6,7,True,'Rabindra',None]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5.5857
<class 'float'>
6
<class 'int'>
7
<class 'int'>
True
<class 'bool'>
Rabindra
<class 'str'>
None
<class 'NoneType'>

### Q.5)

In [5]:
a=int(input())
b=int(input())
c=0
while (a%b==0):
    c+=1
    a=a/b
print(c)

4

### Q.6)

In [6]:
l=[1,23,4,67,8,90,33,56,78,99,79,12,45,94,93,91,92,89,56,4959,40350,65806,56808,5484739,43085086,42386084,49458,4869423,4395,345068,338508]
for i in l:
    if i%3==0:
        print(i,"Is Divisible By 3")

90 Is Divisible By 3
33 Is Divisible By 3
78 Is Divisible By 3
99 Is Divisible By 3
12 Is Divisible By 3
45 Is Divisible By 3
93 Is Divisible By 3
4959 Is Divisible By 3
40350 Is Divisible By 3
56808 Is Divisible By 3
49458 Is Divisible By 3
4869423 Is Divisible By 3
4395 Is Divisible By 3
338508 Is Divisible By 3

### Q.7)

In [9]:
l=[349458,4,78]
l[0]=3 #List i smutable that is it can be changed or modified
t=(8,57,38,46) #Tuple cannot be modified 
# t[0]=3  (It will giv error)
print(l,t)

[3, 4, 78] (8, 57, 38, 46)